/*
- Dark Bordered Pleb
- https://github.com/jhoooooo/streamlabs-chat/
- https://twitter.com/jhooo_o
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family={font_select}&display=swap');

:root {
    --background: {background_color};
    --owner: {streamer_color};
    --moderator: {moderator_color};
    --vip: {vip_color};
    --subscriber: {subscriber_color};
    --pleb: {pleb_color};
    --special: {special_color};
    --name-color: {name_color};
    --message-color: {message_color};
    --border-radius: {border_radius}px;
    --font-size: {font_size}px;
    --box-width: {box_width};
    --text-transform: {text_transform};
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: {background_color};
    font-family: '{font_select}', 'Roboto', 'Helvetica Neue', sans-serif;
}

.colon {
    display: none;
}

#log {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#log>div {
    display: block;
    animation:  fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeOut 0.5s ease {message_hide_delay} forwards;
}

#log>div.deleted {
    visibility: hidden;
}

.message-box {
    display: inline-block;
    position: relative;
    background-color: var(--background);
    border: 2px solid var(--pleb);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    text-transform: var(--text-transform);
    margin-bottom: 3px;
    width: var(--box-width);
}

.name {
    color: var(--name-color);
    display: block;
    margin: 4px 10px 4px 10px;
    font-weight: 600;
}

.message {
    color: var(--message-color);
    display: block;
    margin: 4px 10px 4px 10px;
    word-wrap: break-word;
    font-weight: 400;
}

.owner {
    border: solid;
    border-width: 2px;
    border-color: var(--owner);
}

.moderator {
    border: solid;
    border-width: 2px;
    border-color: var(--moderator);
}

.vip {
    border: solid;
    border-width: 2px;
    border-color: var(--vip);
}

.subscriber {
    border: solid;
    border-width: 2px;
    border-color: var(--subscriber);
}

.special {
    border: solid;
    border-width: 2px;
    border-color: var(--special)!important;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}