.vscode/*
dist/Streamelements/gumroad.txt
dist/Streamelements/Test Folder
dist/Streamlabs/Code Snippets - Others
dist/Streamlabs/Basic
twitter.js
dist/Streamelements/Themes/TXT VER
dist\Streamlabs\Experimental\01 - Default - Experimental\Zipped