/*
- Pink With Gifs
- Last Update: 15 September 2021
- https://github.com/jhoooooo/streamlabs-chat/
- https://twitter.com/JHOOOOOOOOOOOOQ
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family={font-choosen}');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: '{font-choosen}', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
}

.colon {
  display: none;
}

#log {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 10px;
  width: 100%;
}

#log>div.deleted {
  visibility: hidden;
}

#log>div {
  margin-bottom: {box-spacing}px;
  animation: fadeOut 0.5s ease {message_hide_delay} forwards;
  -webkit-animation: fadeOut 0.5s ease {message_hide_delay} forwards;
}

.meta  {
  display: inline-block;
}

.badges {
  display: inline-block;
  padding: 4px 4px 2px 2px;
}

.badge {
    display: inline-block;
    margin: 0;
    position: relative;
    height: fit-content;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
}

.username-box {
  background-color: {first-bg-color};
  margin-left: 5px;
  margin-bottom: -10px;
  display: inline-block;
  border: {username-box-border}px solid {username-box-border-color};
  border-radius: 10px 10px 10px 10px;
  z-index: 1; /* cause position relative @ .message-box */
}

.name {
  display: inline-block;
  color: {first-color};
  font-weight: {usn-weight};
  letter-spacing: 1px;
  text-transform: {usn-transform};
  padding: 2px 8px ;
  font-size: {usn-size}px;
}

.message-box {
  border: {message-box-border}px solid {message-box-border-color};
  padding-top: 5px;
  background-color: {message-box-color}; /* sec color #83af9b */
  border-radius: 10px 10px 10px 10px;
  position: relative;
  z-index: -1; /* cause position relative */
}

.message-box::after {
  content: "";
  background: url({image-upload}) no-repeat; /* gifs image */
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -20px;
  right: 15px;
}

.message {
  display: block;
  color: {sec-color};
  letter-spacing: 0.9px;
  text-transform: {msg-transform};
  margin-left: 5px;
  padding: 6px 6px ;
  word-wrap: break-word;
  font-size: {msg-size}px;
  font-weight: {msg-weight};
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}