/*
- Just Chatting Dark
- https://github.com/jhoooooo/chatbox/
- https://twitter.com/jhooo_o

BG : #0e1927
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family={font_select}&display=swap');

:root {
    --background: {wrapper_bg_color};
    --special: {special_color};
    --font-size: {font_size}px;
    --text-transform: {text_transform};
    --text-color: {text_color};
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: {background_color};
    font-family: '{font_select}', 'Roboto', 'Helvetica Neue', sans-serif;
}

.colon {
    display: none;
}

.background-wrapper {
    background-color: #0e1927;
    width: 100%;
    height: 100%;
}

#log {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#log>div {
    display: block;
    max-height: 0;
    -webkit-transition: max-height 3s ease-in-out;
    -moz-transition: max-height 3s ease-in-out;
    transition: max-height 3s ease-in-out;
}

#log>div.deleted {
    visibility: hidden;
}

.message-box {
    color: var(--text-color);
    display: inline-block;
    position: relative;
    font-size: var(--font-size);
    text-transform: var(--text-transform);
    width: 100%;
    width: -webkit-fill-available;
}

.name {
    display: block;
    margin: 4px 10px 4px 10px;
    font-weight: 600;
}

.message {
    display: block;
    margin: 4px 10px 4px 10px;
    word-wrap: break-word;
    font-weight: 400;
}

.special {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: calc(var(--font-size) + 4px);
    font-weight: 900;
    color: var(--background)!important;
    background-color: var(--special)!important;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}