/* META.MY - 2020

- Premade 007 'Pink'
- https://github.com/metadotmy/streamlabs-chat
- Last Update: 24 March 2021
- Background animation by Rico Sta. Cruz @ https://codepen.io/rstacruz/pen/oxJqNv

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans';
  line-height: 1.5em;
}

.colon {
  display: none;
}

#log {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 10px;
  width: 100%;
  opacity: 1;
  z-index: 2;
}

#log>div.deleted {
  visibility: hidden;
}

#log>div {
  margin-bottom: 5px;
  padding-top: 5px;
  animation: fadeInUp 0.3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
  -webkit-animation: fadeInUp 0.3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.meta  {
  display: inline-block;
}

.badges {
  display: inline-block;
}

.badge {
    display: inline-block;
    margin: 0;
    position: relative;
    height: fit-content;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
}

.username-box {
  background-color: #eec0c6;
  margin-left: 5px;
  margin-bottom: -10px;
  display: inline-block;
  border-radius: 4px;
  color: #b34452;
}

.name {
  display: inline-block;
  color: #b67162;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: Uppercase;
  padding: 2px 8px ;
  font-size: {usn-size}px;
}

.message-box {
  border: none;
  padding-top: 5px;
  background-color: #eeddda;
  border-radius: {msg-border-radius}px;
}

.message {
  display: block;
  color: {sec-color};
  letter-spacing: 0.9px;
  margin-left: 5px;
  padding: 6px 6px ;
  word-wrap: break-word;
  font-size: {msg-size}px;
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}
/* BG CSS */

.box {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #e4d3cf;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
    opacity: 0.4;
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #da9c8f;
    width: 700px;
    height: 530px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 9000ms infinite linear;
          animation: drift 9000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 12000ms infinite linear;
          animation: drift 12000ms infinite linear;
  opacity: 0.1;
  background: red;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #e58c8a 0%, #eec0c6 74%);
  z-index: 1;
  transform: translate3d(0, 0, 0);
}


@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}