/*
- Rainbow
- https://github.com/jhoooooo/streamlabs-chat/
- https://twitter.com/jhooo_o
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family={font_select}&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: {background_color};
    font-family: '{font_select}', 'Roboto', 'Helvetica Neue', sans-serif;
}

.colon {
    display: none;
}

#log {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#log>div {
    display: block;
    margin-bottom: 10px;
    animation:  fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeOut 0.5s ease {message_hide_delay} forwards;
}

#log>div.deleted {
    visibility: hidden;
}

.message-box {
    display: inline-block;
    position: relative;
    padding: 4px 0 4px 0;
    font-size: {font_size}px;
    text-rendering: geometricPrecision;
    margin-bottom: 2px;
    text-transform: {text_transform};
}

.name {
    margin-left: 5px;
    font-weight: 600;
}

.message {
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
    word-wrap: break-word;
    font-weight: 400;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}