/* 
- Vyledust
- Last Update: 26 May 2021
- https://github.com/metadotmy/streamlabs-chat
- https://twitter.com/JHOOOOOOOOOOOOQ
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 
@import url('https://fonts.googleapis.com/css?family={font-choosen}'); 

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: '{font-choosen}', 'Open Sans', 'Helvetica Neue', sans-serif;
  background: {background_color};
  font-weight: {font-weight};
  font-size: {font-size}px;
}

.colon {
  display: none;
}

#log {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 10px;
  width: 100%;
}

#log>div.deleted {
  visibility: hidden;
}

#log>div {
  margin-bottom: {message-box-margin}px;
  animation: fadeOut 0.5s ease {message_hide_delay} forwards; 
  -webkit-animation: fadeOut 0.5s ease {message_hide_delay} forwards;
  /* Fadeout animation is needed here because if user disable(untick)
  'Disable Message Animations' in Streamlabs, 'Hide Message After'
  option will not work. */
}

.all-wrapper {
    width: fit-content;
    background: {wrapper-background-color};
    border: {wrapper-border-size}px solid {wrapper-border-color};
    padding: 5px {wrapper-padding}px;
    border-radius: {wrapper-border-radius}px;
}

.badge {
  display: inline-block;
  margin: 0 0.2em;
  position: relative;
  height: fit-content;
  vertical-align: middle;
  margin-top: -2px;
}

.name {
  display: inline-block;
  color: {name-font-color};
  text-transform: {name-transform};
}


.message {
  display: inline;
  color: {message-font-color};
  text-transform: {message-transform};
  word-wrap: break-word;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}
