/* META.MY - 2020

- Premade 007 'Pink'
- https://github.com/metadotmy/streamlabs-chat
- Last Update: 24 March 2021
- Background animation by Rico Sta. Cruz @ https://codepen.io/rstacruz/pen/oxJqNv

# Remove option to hide badges because it's redundance with Streamlabs built-in.
# Add option to hide names for GDPR????
# Fixed Streamlabs option to hide messages after x seconds.

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans';
  line-height: 1.5em;
}

.colon {
  display: none;
}

#log {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 10px;
  width: 100%;
  opacity: 1;
  z-index: 2;
}

#log>div.deleted {
  visibility: hidden;
}

#log>div {
  margin-bottom: 5px;
  padding-top: 5px;
  animation: fadeInUp 0.3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
  -webkit-animation: fadeInUp 0.3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.meta  {
  display: inline-block;
}

.badges {
  display: inline-block;
}

.badge {
    display: inline-block;
    margin: 0;
    position: relative;
    height: fit-content;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
}

.username-box {
  background-color: #eec0c6;
  margin-left: 5px;
  margin-bottom: -10px;
  display: inline-block;
  border-radius: 4px;
  color: #b34452;
}

.name {
  display: inline-block;
  color: #b67162;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: Uppercase;
  padding: 2px 8px ;
  font-size: {usn-size}px;
}

.message-box {
  border: none;
  padding-top: 5px;
  background-color: #eeddda;
  border-radius: {msg-border-radius}px;
}

.message {
  display: block;
  color: {sec-color};
  letter-spacing: 0.9px;
  margin-left: 5px;
  padding: 6px 6px ;
  word-wrap: break-word;
  font-size: {msg-size}px;
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}
/* BG CSS */

.box {
    width: 100%;
  height:100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}