/* META.MY - 2020

- Premade 002 'Colorful'
- Last Update: 01 Jan 2020
- https://github.com/metadotmy/streamlabs-chat

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans';
  line-height: 1.5em;
}

.colon {
  display: none;
}

#log {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 10px;
  width: 100%;
  opacity: 1;
}

#log>div.deleted {
  visibility: hidden;
}

#log>div {
  margin-bottom: 5px;
}

.meta  {
  display: inline-block;
}

.crown {
  display: inline-block;
}

.badge {
  display: inline-block;
  margin: 0 0.2em;
  position: relative;
  height: fit-content;
  vertical-align: middle;
  margin-top: -2px;
}

.username-box {
  margin-left: 5px;
  margin-bottom: -10px;
  display: inline-block;
  border-radius: {name-border-radius}px;
}

.name {
  display: inline-block;
  color: {first-color};
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: Uppercase;
  padding: 2px 8px ;
  font-size: {usn-size}px;
}

.message-box {
  border: none;
  padding-top: 5px;
  background-color: #FFFFFF;
  border-radius: {msg-border-radius}px;
}

.message {
  display: block;
  color: {sec-color};
  letter-spacing: 0.9px;
  margin-left: 5px;
  padding: 6px 6px ;
  word-wrap: break-word;
  font-size: {msg-size}px;
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}
