/*
- Pink With Gifs
- Last Update: 28 December 2021
*/

@import url('https://fonts.googleapis.com/css?family={font_picked}');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: '{font_picked}', 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
}

.colon {
  display: none;
}

#log {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px 10px;
  width: 100%;
}

#log>div.deleted {
  visibility: hidden;
}

#log>div {
  margin-bottom: {box_spacing}px;
  animation: fadeOut 0.5s ease {message_hide_delay} forwards;
  -webkit-animation: fadeOut 0.5s ease {message_hide_delay} forwards;
}

.meta  {
  display: inline-block;
}

.badges {
  display: inline-block;
  padding: 4px 4px 2px 2px;
}

.badge {
    display: inline-block;
    margin: 0;
    position: relative;
    height: fit-content;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
}

.username_box {
  background-color: {username_background_color};
  margin-left: 5px;
  margin-bottom: -10px;
  display: inline-block;
  border: {username_border_width}px {username_border_style} {username_border_color};
  border-radius: {username_border_radius}px;
  z-index: 1; /* cause position relative @ .message-box */
}

.name {
  display: inline-block;
  color: {username_text_color};
  font-size: {username_font_size}px;
  font-weight: {username_font_weight};
  letter-spacing: 1px;
  text-transform: {username_transform};
  padding: 2px 8px ;
}

.message_box {
  border: {message_border_width}px {message_border_style} {message_border_color};
  padding-top: 5px;
  background-color: {message_background_color};
  border-radius: {message_border_radius}px;
  position: relative;
  z-index: -1; /* cause position relative */
}

.message_box::after {
  content: "";
  background: url({image_upload}) no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -20px;
  right: 15px;
}

.message {
  display: block;
  color: {message_text_color};
  letter-spacing: 0.9px;
  text-transform: {message_transform};
  margin-left: 5px;
  padding: 6px 6px ;
  word-wrap: break-word;
  font-size: {message_font_size}px;
  font-weight: {message_font_weight};
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}