/*
- Default December 2021
- Last Update: 25 December 2021
*/

@import url('https://fonts.googleapis.com/css?family={font_picked}');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: '{font_picked}', 'Helvetica Neue', sans-serif;
    line-height: 1.5em;
}

.colon {
    display: none;
}

div#custom_html {
    background: {wrapper_background};
    height: 100%;
    border-radius: {wrapper_border_radius}px;
    border-width: {wrapper_border_width}px;
    border-color: {wrapper_border_color};
    border-style: {wrapper_border_style};
    font-size: {font_size}px;
    text-transform: {text_transform};
}

#log {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 4px 0 4px;
    width: 100%;
    opacity: 1;
}

#log>div.deleted {
    visibility: hidden;
}

#log>div {
    margin-bottom: 5px;
    animation: fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeOut 0.5s ease {message_hide_delay} forwards;
}

.message-box {
    background-color: {message_background_color};
    padding: 2px 8px;
    border-radius: {message_border_radius}px;
    border-width: {message_border_width}px;
    border-color: {message_border_color};
    border-style: {message_border_style};
}

.child.meta {
    display: initial;
}

.name {
    color: {name_color};
    font-weight: {name_weight};
}

.message {
    color: {message_color};
    font-weight: {message_weight};
}

.badges {
    vertical-align: middle;
}

.badge {
    margin-right: 2px;
}

/* Emote */

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

/* Annoucnement */

.announcement {
    padding: 4px 4px 4px 25px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.announcement:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 490.1 490.1' viewBox='0 0 490.1 490.1' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m454.7 4.665c-177.7 102.4-260.2 117-282.3 119-5.1 0.4-65.5 0.3-65.5 0.3-59.1 0.1-106.9 47.8-106.9 107s47.8 106.9 106.9 106.9h38.4v129.8c0 11.4 9.3 20.8 20.8 20.8s20.8-9.3 20.8-19.7v-128.8c33.9 5.9 116.5 28.7 267.3 115.8 13.4 8.6 35.9 4.6 35.9-14v-419.5c-0.1-19-22.3-24.9-35.4-17.6zm-310.4 292.7h-37.4c-36.3 0-66.4-30.1-66.4-66.4s30.1-66.4 66.4-66.4h37.4v132.8zm302.1 107.9c-145-81-223.4-100.6-258.5-105.8v-137.3c36.3-5.7 115.9-27.2 258.5-106.6v349.7z'/%3E%3C/svg%3E");
    background-size: 16px;
    position: absolute;
    left: 14px;
    display: block;
    width: 16px;
    height: 16px;
}

.announcement-primary {
    background: #1a1826;
}

.announcement-blue {
    background: blue; /* temporary */
}

.announcement-green {
    background: blue; /* temporary */
}

.announcement-orange {
    background: blue; /* temporary */
}

.announcement-purple {
    background: blue; /* temporary */
}