@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #212529;
    background-color: #ebebeb;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 16px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.index-container {
    height: 100%;
    max-width: 1150px;
}

/* content */
.content {
    max-width: 950px;
}

.btn-kofi:hover {
    opacity: 0.9;
}

/* Tags CSS */
.tags {
    display: flex;
}

.tag {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.tag:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #172b4d;
    color: #f5f5f5;
}

.tag:last-child {
    margin-left: 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #395ecc;
    color: #c1c1c1;
}

/* tag end */


/* Jho colors */

.bg-recommended {
    background-color: #faa91635;
}

.text-recommended, .text-recommended a {
    color: #d38901;
}

.border-recommended {
    border-color:#e4991040;
    border-style: solid;
}

.bg-ignore {
    background-color: #f25f4c33;
}

.text-ignore {
    color: #f25f4c;
}

.border-ignore {
    border-color: #f25f4f40;
    border-style: solid;
}

.bg-use {
    background-color: #24be284d;
}

.text-use {
    color: #159818;
}

.border-use {
    border-color: #15981840;
    border-style: solid;
}

.bg-ok {
    background-color: #6c757d57;
}

.text-ok {
    color: #626262;
}

.border-ok {
    border-color: #62626240;
    border-style: solid;
}

.bg-twitter {
    background-color: #1DA1F230;
}


.text-twitter {
    color: #1DA1F2;
}


.border-twitter {
    border-color: #1a212540;
    border-style: solid;
}

.bg-license {
    background-color: #6a91a830;
}

.border-license {
    border-color: #10121340;
    border-style: solid;
}

/* Badges Ends */

/* Code Copy */

kbd {
    background-color: #4682b4;
    color: #dfdfdf;
    margin: 2px;
    font-size: 0.8em;
    border: 1px solid #4b44a740;
    font-family: JetBrains Mono, Arial, sans-serif;
    font-weight: 600;
}

pre {
    border: 1px solid #383838;
    border-radius: 0.2em;
}

code {
    font-family: JetBrains Mono, Arial, sans-serif;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #161925 !important;
}

code::-webkit-scrollbar-track {
    background-color: #161925 !important;
}

.hljs {
    background-color: #161925 !important;
}

div.highlight {
    position: relative;
}

div.highlight button {
    color: #b6b5b5;
    box-sizing: border-box;
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    background: #0f0e17;
    border: 1px solid #b6b5b570;
    padding: 5px 10px;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2em;
    margin: 5px;
}

div.highlight button:hover {
    opacity: 0.9;
    background: #26233b;
}

.bi-clipboard::before {
    vertical-align: middle;
}

/* Scrollbar */

::-webkit-scrollbar-track {
    width: 2px;
    background-color: #0a192f;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #0a192f;
}

::-webkit-scrollbar-thumb {
    background-color: #b6b5b5;
}

/* JS Color */

.jscolor {
    border-radius: 4px;
    border: 0px;
}

/* colors */

.streamlabs {
    background-color: #212529;
    color: #80f5d2;
    border: 1px solid #212529;
}

.streamlabs:hover {
    background-color: #393d41;
    color: #80f5d2;
    border: 1px solid #212529;
}

.streamelements {
    background-color: #020923;
    color: #ebebeb;
    border: 1px solid #020923;
}

.streamelements:hover {
    background-color: #0a153b;
    color: #ebebeb;
    border: 1px solid #020923;
}