@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #c1c1c1;
    background-color: #0a192f;
    font-family: "Inter", "Ubuntu", Arial, sans-serif;
    font-size: 16px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fs-7 {
    font-size: 0.9rem;
}

/* carousel */

.carousel-inner .carousel-item{
    height:300px;
    background-size:cover;
    background-position: center center;
    }

/* content */
.content {
    max-width: 950px;
}

.border-ignore {
    border-radius: 4px;
    border: 1px solid #383838;
    padding: 20px;
}

.bg-warning {
    background-color: #bc8e06 !important;
}

.jho-bg-danger {
    color: #c2adaf!important;
    background-color: #c400128a;
    border-color: #dc3545!important
}

.jho-bg-info {
    color: #c2ae00!important;
    background-color: #79720e8a;
    border-color: #c2ae00!important;
}

.faq dd,
.changelog dd {
    color: #919191;
}

/* Buttons */

.btn-documentation {
    color: #c1c1c1;
    border: 1px solid #c1c1c1;
}

.btn-documentation:hover {
    color: #0a192f;
    border: 1px solid #c1c1c1;
    background-color: #c1c1c1;
}

/* Tags CSS */
.tags {
    display: flex;
}

.tag {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.tag:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #172b4d;
    color: #f5f5f5;
}

.tag:last-child {
    margin-left: 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #395ecc;
    color: #c1c1c1;
}

/* tag end */


/* Badges */

.badge.bg-recommended {
    background-color: #faa91633!important;
    color: #faa916!important;
}

.badge.bg-ignore {
    background-color: #f25f4c33!important;
    color: #f25f4c!important;
}

.badge.bg-use {
    background-color: #24be284d!important;
    color: #24be28!important;
}

.badge.bg-ok {
    background-color: #6c757d57!important;
    color: #bebebe;
}

/* Badges Ends */

/* Code Copy */

kbd {
    margin: 2px;
    border: 1px solid #424242;
}

pre {
    border: 1px solid #383838;
    border-radius: 0.2em;
}

code {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.hljs {
    background-color: #161925!important;
}

div.highlight {
    position: relative;
}

div.highlight button {
    color: #cccbcb;
    box-sizing: border-box;
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    background: #0f0e17;
    border: 1px solid #000000;
    padding: 5px 10px;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2em;
    margin: 5px;
}

div.highlight button:hover {
    opacity: 0.8;
}

.bi-clipboard::before {
    vertical-align: middle;
}

/* Scrollbar */

::-webkit-scrollbar-track {
    width: 2px;
    background-color: #0a192f;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #0a192f;
}

::-webkit-scrollbar-thumb {
    background-color: #de4947;
}