/* 
- No Names Only Colors
- Last Update: 02 June 2021
- https://github.com/jhoooooo/streamlabs-chat/
- https://twitter.com/JHOOOOOOOOOOOOQ
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 
@import url('https://fonts.googleapis.com/css?family={font-choosen}'); 

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
  background: {background_color};
  font-family: '{font-choosen}', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
}

.colon {
    display: none;
}

#log {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#log>div {
    display: block;
}

#log>div.deleted {
    visibility: hidden;
}

.chat-wrapper {
  /* none - do not add margin, it will cause jumping after smoothscroll animation*/
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 2px 0px;
}

.column.width-force {
  max-width: 25px; /* same width as dot */
}

.left-column {
  /* none */
}

.right-column {
  /* none */
}

.badge {
  /* none */
}

.name {
  /* none */
}

.username-box {
 /* none */
}

.name {
  /* none */
}

.message-box {
  display: inline-block;
  position: relative;
  left: 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 10px;
}

.message-box:after {
	right: 100%;
	top: 14px; /* 50% */
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fff;
	border-width: 4px;
	margin-top: -4px;
}

.message {
  display: inline-block;
  padding: 2px 8px;
  color: {sec-color};
  word-wrap: break-word;
  font-size: {msg-size}px;
  font-weight: {msg-weight};
  text-transform: {msg-transform};
}

.dot-div  {
  display: inline-block;
  vertical-align: middle;
}

.dot {
  height: 28px;
  width: 28px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
